<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yjh.green.hospital.dao.HospitalDAO">

	<insert id="insertRegister" parameterType="map">
		INSERT INTO
			`hospital`
		(
			`userId`
			, `hospitalName`
			, `subject`
			, `address`
			, `telnumber`
			, `medicalStaff`
			, `homepage`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{hospitalName}
			, #{subject}
			, #{address}
			, #{telnumber}
			, #{medicalStaff}
			, #{homepage}
			, now()
			, now()
		)
	
	</insert>
	
	<select id="selectHospitalList" resultType="com.yjh.green.hospital.model.Hospital">
		SELECT
			`id`
			, `userId`
			, `hospitalName`
			, `subject`
			, `address`
			, `telnumber`
			, `medicalStaff`
			, `homepage`
			, `createdAt`
			, `updatedAt`
		FROM 
			`hospital`
		WHERE
			`userId` = #{userId}
		ORDER BY
			`id` DESC;
	</select>
	
	<delete id="deleteHospital" parameterType="int">
		DELETE FROM
	  		`hospital`
	  	WHERE
	  		`id` = #{hospitalId}
	</delete>
	
	
</mapper>